{"openapi":"3.0.3","servers":[{"url":"https://humble-winner-g7wwrw4rp9rcxvq-8000.app.github.dev","description":"GitHub Codespaces"}],"info":{"title":"Air & Insights Copilot","description":"\n    Agentic assistant that provides air quality and weather guidance.\n    \n    ## Features\n    - **Air Quality**: PM2.5 and PM10 data from Open-Meteo\n    - **Weather**: Temperature forecast from Open-Meteo  \n    - **AI Guidance**: LLM-generated recommendations via GitHub Models\n    - **NASA APOD**: Astronomy Picture of the Day (optional)\n    \n    ## Attribution\n    Weather data by Open-Meteo.com\n    ","contact":{"name":"Air Insights Team"},"version":"0.1.0"},"paths":{"/analyze":{"post":{"tags":["Analysis"],"summary":"Analyze air quality and weather","description":"Fetches air quality (PM2.5, PM10), temperature, and snow data for a location,\n    then generates AI-powered guidance for outdoor activities.\n    \n    **Features:**\n    - Accepts coordinates OR place name (auto-geocoded)\n    - Data from Open-Meteo (free, no API key needed)\n    - Snow data included (snowfall, snow depth)\n    - AI guidance generated via GitHub Models LLM\n    - Results cached for 10 minutes\n    \n    **Example with coordinates:**\n    ```json\n    {\n        \"latitude\": 42.6977,\n        \"longitude\": 23.3219,\n        \"hours\": 6\n    }\n    ```\n    \n    **Example with place name:**\n    ```json\n    {\n        \"place_name\": \"Витоша\",\n        \"hours\": 6\n    }\n    ```","operationId":"analyze_analyze_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyzeRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyzeResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/apod/today":{"get":{"tags":["NASA"],"summary":"Get NASA Astronomy Picture of the Day","description":"Fetches today's Astronomy Picture of the Day from NASA.\n    \n    This is a bonus feature that demonstrates calling external APIs.\n    Uses NASA's free APOD API (DEMO_KEY or your own API key).","operationId":"get_apod_today_apod_today_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApodResponse"}}}}}}},"/geocode":{"post":{"tags":["Geocoding"],"summary":"Convert place name to coordinates","description":"Converts a place name (like \"София\" or \"Vitosha\") to geographic coordinates.\n    \n    Uses Google Maps Geocoding API.\n    \n    **Example request:**\n    ```json\n    {\n        \"place_name\": \"София\"\n    }\n    ```\n    \n    **Example response:**\n    ```json\n    {\n        \"latitude\": 42.6977,\n        \"longitude\": 23.3219,\n        \"formatted_address\": \"Sofia, Bulgaria\",\n        \"found\": true\n    }\n    ```","operationId":"geocode_geocode_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeocodeRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeocodeResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/route-weather":{"post":{"tags":["Route"],"summary":"Get weather along a driving route","description":"Gets weather forecast at multiple waypoints along a driving route.\n    \n    Perfect for planning road trips! Shows:\n    - Temperature at each waypoint\n    - Air quality (PM2.5)\n    - Snow conditions\n    - Weather warnings\n    \n    **Example request:**\n    ```json\n    {\n        \"origin\": \"София\",\n        \"destination\": \"Пловдив\",\n        \"departure_hours_from_now\": 0\n    }\n    ```\n    \n    **Response includes:**\n    - Route distance and duration\n    - Weather at 5 waypoints along the route\n    - AI-generated summary\n    - Warnings (ice, snow, air quality)","operationId":"route_weather_route_weather_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteWeatherRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteWeatherResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"tags":["Health"],"summary":"Root","description":"Root endpoint - simple health check.\n\nReturns a welcome message to confirm the API is running.\nUseful for load balancers and monitoring systems.","operationId":"root__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"AnalyzeRequest":{"properties":{"latitude":{"anyOf":[{"type":"number","maximum":90.0,"minimum":-90.0},{"type":"null"}],"title":"Latitude","description":"Latitude coordinate (-90 to 90). Optional if place_name provided."},"longitude":{"anyOf":[{"type":"number","maximum":180.0,"minimum":-180.0},{"type":"null"}],"title":"Longitude","description":"Longitude coordinate (-180 to 180). Optional if place_name provided."},"place_name":{"anyOf":[{"type":"string","maxLength":200,"minLength":1},{"type":"null"}],"title":"Place Name","description":"Place name to geocode (e.g., 'София', 'Vitosha'). Optional if coordinates provided."},"hours":{"type":"integer","maximum":168.0,"minimum":1.0,"title":"Hours","description":"Number of hours to analyze (1-168)","default":6}},"type":"object","title":"AnalyzeRequest","description":"Request body for POST /analyze endpoint.\n\nThe client can provide EITHER:\n- Coordinates (latitude, longitude)\n- OR a place name (which will be geocoded automatically)\n\nExample with coordinates:\n    {\n        \"latitude\": 42.6977,\n        \"longitude\": 23.3219,\n        \"hours\": 6\n    }\n    \nExample with place name:\n    {\n        \"place_name\": \"Витоша\",\n        \"hours\": 6\n    }"},"AnalyzeResponse":{"properties":{"pm25_avg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25 Avg","description":"Average PM2.5 concentration (μg/m³) for the requested hours"},"pm10_avg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10 Avg","description":"Average PM10 concentration (μg/m³) for the requested hours"},"temp_avg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Temp Avg","description":"Average temperature (°C) at 2m height for the requested hours"},"snowfall_sum":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Snowfall Sum","description":"Total snowfall (cm) for the requested hours"},"snow_depth_avg":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Snow Depth Avg","description":"Average snow depth (cm) on the ground"},"guidance_text":{"type":"string","title":"Guidance Text","description":"AI-generated guidance for outdoor activities"}},"type":"object","required":["guidance_text"],"title":"AnalyzeResponse","description":"Response body for POST /analyze endpoint.\n\nContains averaged air quality metrics, temperature, snow data, and AI-generated guidance.\n\nExample:\n    {\n        \"pm25_avg\": 12.5,\n        \"pm10_avg\": 18.3,\n        \"temp_avg\": 15.2,\n        \"snowfall_sum\": 2.5,\n        \"snow_depth_avg\": 10.0,\n        \"guidance_text\": \"Air quality is moderate...\"\n    }"},"ApodResponse":{"properties":{"title":{"type":"string","title":"Title","description":"Title of the Astronomy Picture of the Day"},"url":{"type":"string","title":"Url","description":"URL to the image or video"},"explanation":{"type":"string","title":"Explanation","description":"Scientific explanation of the picture"}},"type":"object","required":["title","url","explanation"],"title":"ApodResponse","description":"Response body for GET /apod/today endpoint.\n\nReturns NASA's Astronomy Picture of the Day.\nThis is an optional/bonus feature.\n\nExample:\n    {\n        \"title\": \"The Andromeda Galaxy\",\n        \"url\": \"https://apod.nasa.gov/apod/image/...\",\n        \"explanation\": \"The Andromeda Galaxy is...\"\n    }"},"GeocodeRequest":{"properties":{"place_name":{"type":"string","maxLength":200,"minLength":1,"title":"Place Name","description":"Place name to geocode (e.g., 'София', 'Vitosha', 'Plovdiv, Bulgaria')"}},"type":"object","required":["place_name"],"title":"GeocodeRequest","description":"Request body for POST /geocode endpoint.\n\nConverts a place name to geographic coordinates.\n\nExample:\n    {\n        \"place_name\": \"София\"\n    }"},"GeocodeResponse":{"properties":{"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude","description":"Latitude coordinate of the place"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude","description":"Longitude coordinate of the place"},"formatted_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Formatted Address","description":"Full formatted address returned by Google"},"found":{"type":"boolean","title":"Found","description":"Whether the place was found"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error","description":"Error message if place was not found"}},"type":"object","required":["found"],"title":"GeocodeResponse","description":"Response body for POST /geocode endpoint.\n\nReturns geographic coordinates for a place name.\n\nExample (success):\n    {\n        \"latitude\": 42.6977,\n        \"longitude\": 23.3219,\n        \"formatted_address\": \"Sofia, Bulgaria\",\n        \"found\": true\n    }\n    \nExample (not found):\n    {\n        \"latitude\": null,\n        \"longitude\": null,\n        \"formatted_address\": null,\n        \"found\": false,\n        \"error\": \"ZERO_RESULTS\"\n    }"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"RouteWeatherRequest":{"properties":{"origin":{"type":"string","maxLength":200,"minLength":1,"title":"Origin","description":"Starting point (e.g., 'София', 'Sofia, Bulgaria')"},"destination":{"type":"string","maxLength":200,"minLength":1,"title":"Destination","description":"Destination point (e.g., 'Пловдив', 'Plovdiv, Bulgaria')"},"departure_hours_from_now":{"type":"integer","maximum":168.0,"minimum":0.0,"title":"Departure Hours From Now","description":"When to depart (0 = now, 1 = in 1 hour, etc.)","default":0}},"type":"object","required":["origin","destination"],"title":"RouteWeatherRequest","description":"Request body for POST /route-weather endpoint.\n\nGets weather forecast along a driving route from A to B.\n\nExample:\n    {\n        \"origin\": \"София\",\n        \"destination\": \"Пловдив\",\n        \"departure_hours_from_now\": 0\n    }"},"RouteWeatherResponse":{"properties":{"origin":{"type":"string","title":"Origin","description":"Starting point address"},"destination":{"type":"string","title":"Destination","description":"Destination address"},"total_distance_km":{"type":"number","title":"Total Distance Km","description":"Total route distance in kilometers"},"total_duration_minutes":{"type":"integer","title":"Total Duration Minutes","description":"Total driving time in minutes"},"waypoints":{"items":{"$ref":"#/components/schemas/WaypointWeather"},"type":"array","title":"Waypoints","description":"Weather data at each waypoint along the route"},"summary":{"type":"string","title":"Summary","description":"AI-generated summary of route weather conditions"},"warnings":{"items":{"type":"string"},"type":"array","title":"Warnings","description":"Weather warnings for the route (snow, ice, poor air quality, etc.)","default":[]}},"type":"object","required":["origin","destination","total_distance_km","total_duration_minutes","waypoints","summary"],"title":"RouteWeatherResponse","description":"Response body for POST /route-weather endpoint.\n\nContains weather forecast at multiple waypoints along the route.\n\nExample:\n    {\n        \"origin\": \"Sofia, Bulgaria\",\n        \"destination\": \"Plovdiv, Bulgaria\",\n        \"total_distance_km\": 145.5,\n        \"total_duration_minutes\": 98,\n        \"waypoints\": [...],\n        \"summary\": \"Route: Sofia → Plovdiv. Temperature range: 2°C to 5°C...\",\n        \"warnings\": [\"Below freezing temperatures expected\"]\n    }"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WaypointWeather":{"properties":{"location_name":{"type":"string","title":"Location Name","description":"Name or description of this waypoint"},"latitude":{"type":"number","title":"Latitude","description":"Latitude of the waypoint"},"longitude":{"type":"number","title":"Longitude","description":"Longitude of the waypoint"},"eta_minutes":{"type":"integer","title":"Eta Minutes","description":"Estimated time to reach this point (minutes from start)"},"temperature":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Temperature","description":"Temperature at this waypoint (°C)"},"rain":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Rain","description":"Expected rain (mm)"},"snowfall":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Snowfall","description":"Expected snowfall (cm)"},"snow_depth":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Snow Depth","description":"Snow depth on ground (cm)"},"precipitation_probability":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Precipitation Probability","description":"Chance of precipitation (%)"},"visibility":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Visibility","description":"Visibility distance (km)"},"wind_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Wind Speed","description":"Wind speed (km/h)"},"wind_gusts":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Wind Gusts","description":"Wind gusts (km/h)"},"cloud_cover":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cloud Cover","description":"Cloud cover (%)"},"pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25","description":"PM2.5 air quality (μg/m³)"},"weather_code":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Weather Code","description":"WMO weather code"},"conditions":{"type":"string","title":"Conditions","description":"Human-readable weather conditions (e.g., 'Heavy rain 🌧️', 'Fog 🌫️')","default":"Clear"},"road_warning":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Road Warning","description":"Specific road warning (e.g., 'Icy roads', 'Low visibility')"}},"type":"object","required":["location_name","latitude","longitude","eta_minutes"],"title":"WaypointWeather","description":"Comprehensive road conditions for a single waypoint along the route."}}}}