{
  "openapi": "3.0.3",
  "info": {
    "title": "OutdoorMate API",
    "description": "Weather and air quality analysis for outdoor activities",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://humble-winner-g7wwrw4rp9rcxvq-8000.app.github.dev",
      "description": "GitHub Codespaces"
    }
  ],
  "paths": {
    "/analyze": {
      "post": {
        "operationId": "analyzeWeather",
        "summary": "Analyze air quality and weather",
        "description": "Get air quality (PM2.5, PM10) and temperature data for a location with AI guidance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["latitude", "longitude"],
                "properties": {
                  "latitude": {
                    "type": "number",
                    "description": "Latitude coordinate (-90 to 90)",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude coordinate (-180 to 180)",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "hours": {
                    "type": "integer",
                    "description": "Number of hours to analyze (1-168)",
                    "default": 6,
                    "minimum": 1,
                    "maximum": 168
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pm25_avg": {
                      "type": "number",
                      "description": "Average PM2.5 concentration (μg/m³)"
                    },
                    "pm10_avg": {
                      "type": "number",
                      "description": "Average PM10 concentration (μg/m³)"
                    },
                    "temp_avg": {
                      "type": "number",
                      "description": "Average temperature (°C)"
                    },
                    "guidance_text": {
                      "type": "string",
                      "description": "AI-generated guidance for outdoor activities"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apod/today": {
      "get": {
        "operationId": "getApod",
        "summary": "Get NASA Astronomy Picture of the Day",
        "description": "Fetches today's Astronomy Picture of the Day from NASA",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "Title of the picture"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL to the image"
                    },
                    "explanation": {
                      "type": "string",
                      "description": "Scientific explanation"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

